KISSY.add('components/{{subname}}/index', function(S, Brick) {

	function {{componentClassName}}() {
        {{componentClassName}}.superclass.constructor.apply(this, arguments);
    }

    {{componentClassName}}.ATTRS = {
    };

    {{componentClassName}}.DOCEVENTS = {
    }

    {{componentClassName}}.EVENTS = {
    };

    {{componentClassName}}.FIRES = {
    };

    {{componentClassName}}.METHODS = {
    };

    S.extend({{componentClassName}}, Brick, {
        initialize: function() {
        },
        destructor: function() {
        }
    });

    S.augment({{componentClassName}}, {{componentClassName}}.METHODS);

    return {{componentClassName}};
}, {
    requires: ["brix/core/brick"]
});
